PUID=1000
PGID=1000
TZ=America/Denver

APPDATA=/opt/arr-stack/config

PROTON_OPENVPN_USER=your_username
PROTON_OPENVPN_PASSWORD=your_password

RADARR_API_KEY=replace_with_radarr_api_key
SONARR_API_KEY=replace_with_sonarr_api_key
PROWLARR_API_KEY=replace_with_prowlarr_api_key
